h1 {
    font-size: 25px;
}

div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.timerBtn {
    background: hsl(221, 44%, 7%);
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    margin-left: 20px;
}